source https://api.nuget.org/v3/index.json

nuget Microsoft.Extensions.DependencyInjection >= 2.2.0
nuget Microsoft.Extensions.Options >= 2.2.0
nuget Microsoft.Extensions.Options.ConfigurationExtensions >= 2.2.0